.container {
  padding: 0.2rem 1.5rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.container h3 {
  padding: 0.5rem 0rem;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}